<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>

    <div class="container-fluid">
        <div class="row pt-4 ps-2 pe-2">
            <div class="col-6">

                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">IP address</th>
                        <th scope="col">RAM</th>
                        <th scope="col">Storage</th>
                        <th scope="col">Cpu</th>
                    </tr>
                    </thead>
                    <tbody th:each="machine: ${all_machines}">
                    <tr>
                        <td th:text="${machine.ip_address}"/>
                        <td th:text="${machine.ram}"/>
                        <td th:text="${machine.storage}"/>
                        <td th:text="${machine.cpu}"/>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>



    <script type="script/javascript" th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
    <script type="script/javascript" th:src="@{/js/vue.js}"></script>
</body>

</html>